PORT=3000
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19kaEY3NTR0U1JIdUJIbWlOVkxOTGUiLCJhcGlfa2V5IjoiMDFLUkhYWU5WOEJFSzNCVjlZSFJUS1pSR04iLCJ0ZW5hbnRfaWQiOiIwZjc4NGIyMzM5ZGFkMWQ2MjdmMGYwNzBhYjdmYjg4NjI4NGRjNGIyOWM5ZTE5Nzc0MTE4MGFjYjFhMjVkYzQ3IiwiaW50ZXJuYWxfc2VjcmV0IjoiZDc0OTIxZDUtYzdiYy00ZGEyLWIxNDktNzJhODJiYWQ1MThlIn0.Sft3bknENGNCkAQVV9p2I3wjnFxKHRN1h6XDdIk21rc"
JWT_SECRET="1234"