@import "tailwindcss";

@theme {
  --color-primary: #024ce2;
  --color-secondary: #006877;
  --color-secondary-container: #3fe1fd;
  --color-background: #f7f9fb;
  --color-surface: #f7f9fb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #434655;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed-variant: #003ab2;
  --color-outline: #737687;
  --color-outline-variant: #c3c5d8;
  --color-error: #ba1a1a;
  --color-primary-container: #3668fc;
  --color-inverse-primary: #b6c4ff;
}

/* Y las clases custom */
.ambient-shadow {
  box-shadow: 0 20px 40px rgba(17, 24, 39, 0.05);
}

.no-line-separator::before,
.no-line-separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #e0e3e5;
}
